<?xml version="1.0"?>

<launch>
  <include file="$(find uvc_robot)/launch/robot_config.launch"/>

  <arg name="model"/>
  <arg name="gui" default="false"/>
  <param name="robot_description" textfile="$(find uvc_robot_description)/urdf/uvc_robot.urdf"/>
  <param name="use_gui" value="False"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> 
</launch>
